%br
%table{ width: "100%" }
  %tr
    %td{ width: "8%", valign: "top" }
      - if !@builds.empty?
        %ul
          - @builds.each do |build|
            %li
              = link_to build.number, build, remote: true, id: 'build-link'
              = '(' + build.tag + ')'
    %td{ align: "center", valign: "top" }
      #loading-indicator
        %br
        =image_tag "loading.gif"
      #build-info
