/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url('http://getbootstrap.com/dist/css/bootstrap.css');

.build-row {
  &.selected {
    background-color: white;
    outline: thin solid black;
  }

  .build-link.selected { font-weight: bold }

  &:hover {
    background-color: white;
  }
}

.builds-table {
  margin-top: 1px;
  margin-left: 1px;
}

.bugs-table {
  margin-left: 1px;
  margin-right: 1px;
  border-collapse: separate;
  border-spacing: 0px 1px;
}

.bug-row {
  &:hover {
    outline: thin solid black;
  }

  &.included-false {
    opacity: 0.6;
  }
}

.bug-list {
  margin-top: 10px;
}

.bug-link-container {
  min-height: 30px;
  position: relative;
  font {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}


$verified_color: #67E46F;
$to-verify_color: #6C8CD5;
$reopened_color: #FF7373;
$closed_color: #848181;

#stats-container {
  height: 270px;
  table.stats-title{
    td { 
      padding: 2px 4px 2px 4px;

      &.build-number {
        width: 130px;
      }

      &.refresh { 
        text-align: right;
      }
    }
  }

  td.status { 
    font-weight: bold;
    width: 120px;
  }
  td.verified { background-color: $verified_color; }
  td.to-verify { background-color: $to-verify_color; }
  td.reopened { background-color: $reopened_color; }
  td.closed { background-color: $closed_color; }

  td.value {
    text-align: right;
  }

  strong {
    font-size: 20px;
  }

  table.stats {
    td {
      padding: 2px 10px 2px 10px;
    }
  }

  .stats {
    margin-top: 10px;
  }
}

#my-navigation {
  height: 51px;
  background-color: #000000;
  text-align: right;
  padding: 12px 12px 12px 12px;
  color: #FFFFFF;

  #save_user_button {
    color:#000000;
  }

  input {
    text-align: right;
    color: #000000;
    width: 100px;
  }
}

